<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    {% load static %}
    <link rel="stylesheet" href="{% static 'app_one/styles.css' %}">
</head>
<body>
        
        <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
        <div class="container">
            <a class="navbar-brand" href="#">Signed in as <span style="color: blue;">{{user.first_name}}</span></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
                </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                <a class="nav-link" href="/main">Home
                        <span class="sr-only">(current)</span>
                    </a>
                </li>
                <li class="nav-item">
                <a class="nav-link" href="#">All people</a>
                </li>
                <li class="nav-item">
                <a class="nav-link" href="/add_new_pg">Add New</a>
                </li>
                <li class="nav-item">
                <a class="nav-link" href="/logout">Log Out</a>
                </li>
            </ul>
            </div>
        </div>
    </nav>

    <header>
        <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
            </ol>
        </div>
    </header>

    <!-- Page Content -->
    <section class="py-5">
    <div class="container">
        <h1 class="display-4">All Recipients</h1>
    </div>
    </section>
    <div>
        <table class="table table-striped">
            <thead>
                <th>Name</th>
                <th>Number of Gifts</th>
                <th>Total Amount for Gifts</th>
            </thead>
            <tbody>
                {% for person in user.people.all %}
                    <tr>
                        <td><a href="/show_person/{{person.id}}">{{person.first_name}} {{person.last_name}}</a></td>
                        <td>{{ person.gifts.all|length}}</td>
                        <td>${{person.sum_gift_money}}</td>
                        
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</body>
</html>